services:
  quantum:
    build: .
    container_name: quantum-lab
    volumes:
      - ./src:/home/jovyan/work
    working_dir: /home/jovyan/work
    ports:
      - "4000:4000"
    env_file:
      - .env
    stdin_open: true     
    tty: true
